
.icon-heart:before { content: '\e801'; } /* '' */
.icon-cup:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-food:before { content: '\e806'; } /* '' */
.icon-paper-plane:before { content: '\e807'; } /* '' */
